* {
	margin: 0;
	padding: 0;
	font-size: 106%;
}

body {
	font-family: Arial, sans-serif;
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header {
	display: flex;
	justify-content: space-between;
	background-color: #65eeb6;
	width: 100%;
}
.logo {
	margin: 5px;
	width: 55px;
	height: 50px;
	border-radius: 50%;
}
#menu {
	display: flex;
	align-items: center;
	margin: 10px;
	user-select: none;
}
#menu a {
	color: black;
	margin-right: 10px;
}
#menu a:hover {
	margin-bottom: 8px;
}
main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 3%;
}
h1 {
	font-size: larger;
}
.text {
	margin-top: 3%;
	width: 50%;
	text-align: center;
}
.rightBlock {
	background-color: #474744;
	justify-content: center;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	border-radius: 20%;
	width: 25%;
	height: 280px;
}
.link-style1 {  
	color: blue;  
	font-weight: bold;  
}  
.link-style2 {  
	color: green;  
	font-style: italic;  
}  
.link-style3 {  
	color: red;  
	text-decoration: underline;  
}  
footer {
	display: flex;
	justify-content: space-between;
	background-color: #474744;
	width: 100%;
	user-select: none;
	position: absolute;
	bottom: 0;
	left: 0;
}
.developer {
	margin: 5px;
	margin-right: 50px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
ul {
	margin: 26px 50px;
}
li {
	font-size: smaller;
}
a, li {
	color: #65eeb6;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
a:hover {
	text-decoration: underline;
}
.decorNone:hover {
	text-decoration: none;
}


@media screen and (max-width: 800px) {
	* { 
		font-size: 100%;
		color: white;
	}
	.developer {
		margin-right: 5px;
	}
	main {
		margin: 0;
		height: 800px;
		background-image: url("https://i.pinimg.com/control/564x/26/75/90/2675906419fac304c3f312960d61b53a.jpg");
		background-size: cover;
	}
	footer {
		opacity: 80%;
		position: relative;
	}
	.text {
		width: 85%;
		font-size: 120%;
	}
	.rightBlock { display: none; }
}
